<h1 class="display-3">Neighbourhoods</h1>
<ul class="card card-default list-group pull-down" id="contact-list">
  <% @neighbourhoods.each do |n| %>
      <li class="list-group-item">
          <div class="row w-100">
              <div class="col-12 text-center text-sm-left cursor-pointer" >
                <label class="name lead bolder"><%= link_to n.name, n  %></label>
              </div>
          </div>
      </li>
  <% end %>
</ul>
<%= paginate @neighbourhoods %>


