<h1 class="display-3">Owners</h1>
<ul class="card card-default list-group pull-down" id="contact-list">
  <% @p.each do |owner| %>
      <li class="list-group-item">
          <div class="row w-100">
              <div class="col-12 text-center text-sm-left cursor-pointer" >
                <label class="name lead bolder"><%= link_to owner.name, owner  %></label>
              </div>
          </div>
      </li>
  <% end %>
</ul>
<%= paginate @p %>
