<h1 class="display-3">About</h1>

<div class="card card-default  row">
  <div class="col-md-12">
    <div class="col-12 text-center text-sm-left padding-top-30 padding-bottom-30" >
      <p>Vehicle Owners in Winnipeg by Neighbourhood</p>
      <p>Data was gathered from 3 different datasets/APIs:</p>
        <ol>
          <li>The Neighbourhoods tables is a result of the consumption of the following Winnipeg City Free API:<br /><a href="https://data.winnipeg.ca/resource/w4xz-nc35.json?$select=distinct(neighbourhood)&$limit=50">https://data.winnipeg.ca/resource/w4xz-nc35.json?$select=distinct(neighbourhood)&$limit=50</a></li>
          <li>Faker was used to load Names and Ages of the Vehicle Owners (table Owners)</li>
          <li>The Tables Vehicles, Origin and Manufacturer are results of the normalization of the dataset consumed from the following JSON API:<br /><a href="https://raw.githubusercontent.com/vega/vega/master/docs/data/cars.json">https://raw.githubusercontent.com/vega/vega/master/docs/data/cars.json</a></li>
        </ol>
      <p>The DB tables relationships are as follow:</p>
      <img src="erd.png" alt="ERD Image" />
    </div>
  </div>
</div>
